<?php
return [
    'app' => array(
        'debug' => true,
        'hash' => 'sha512',
        'URL' => 'danielhawton.com',
        'namespace' => 'DanielHawton'
    ),
    'db' => array(
        'default' => array(
            'driver' => 'PDO',
            'connection' => 'mysql:host=server;dbname=database',
            'user' => 'username',
            'pass' => 'password'
        )
    ),
];