<?php
return [
    'app' => array(
        'debug' => true,
        'hash' => 'sha512',
        'URL' => 'danielhawton.com',
        'namespace' => 'DanielHawton'
    ),
    'db' => array(
        'enabled' => true,
        'server' => '127.0.0.1',
        'db' => 'database',
        'user' => 'user',
        'pass' => 'password'
    ),
];